body, html{
    background: url(../img/bg7.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    text-align: center;
    margin: auto;
    padding: 15px 5px 15px 5px;
    color: rgb(82, 84, 207);
}

hr{
    border-color: seagreen;
    border-width: 3px;
    max-width: 200px;
}

div{
    text-align: center;
}

.btn{
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary{ 
    background-color: seagreen;
    border-color: seagreen;
     
}

.btn-primary:hover{
    background-color: rgb(3, 119, 53);
    border-color: rgb(3, 119, 53);
    border-width: 4px;
}


.btn-xl{
    padding: 1rem 2rem;
}

.buffer{
    height: 8rem;
}